<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>developer-id</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.chrisizatt.PodcastPreview</key>
		<string>PodcastPreview Developer ID Application 2026</string>
		<key>com.chrisizatt.PodcastPreview.PodcastPreviewMacWidgetsExtension</key>
		<string>PodcastPreview Mac W Developer ID Application 2026</string>
	</dict>
	<key>signingCertificate</key>
	<string>A5D4019DBFEDE7727487D49BD08257C46A72E7E0</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>8CZML8FK2D</string>
	<key>uploadSymbols</key>
	<false/>
</dict>
</plist>
